<p id="alerty"> <%= notice %> </p>

<%= link_to 'Home', urls_path%>

<p> Your link is <%= @url.link %></p>

<p> You may now access your link by visiting <%= "localhost:3000/s/" + @url.randstr%> </p>

<p> OR Via:  <a href="<%=@url.link%>"><%= "localhost:3000/" + @url.id.to_s%></a> </p> 

<p>Don't believe me? Type it in manually and see for yourself!</p>

